<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @order.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @order.price %>
  </p>

  <p>
    <strong>currency:</strong>
    <%= @order.currency %>
  </p>


  <%= payment_service_for @order.id, Rails.configuration.offsite_payments['global_payments']['merchant_id'],
            amount: @order.price.to_i,
            currency: @order.currency,
            credential2: Rails.configuration.offsite_payments['global_payments']['account'],
            credential3: Rails.configuration.offsite_payments['global_payments']['shared_secret'],
            service: :global_payments_offsite do |service| %>

    <% service.customer :first_name => @order.customer_first_name,
                      :last_name => @order.customer_first_name,
                      :email => @order.customer_email,
                      :phone => @order.customer_phone,
                      :work_phone => @order.work_phone %>

    <% service.billing_address :city => @order.billing_address_city,
                              :address1 => @order.billing_address_address_1,
                              :address2 => @order.billing_address_address_2,
                              :address3 => @order.billing_address_address_3,
                              :state => @order.billing_address_state,
                              :country => @order.billing_address_country,
                              :zip => @order.billing_address_zip %>

    <% service.shipping_address :city => @order.shipping_address_city,
                            :address1 => @order.shipping_address_address_1,
                            :address2 => @order.shipping_address_address_2,
                            :address3 => @order.shipping_address_address_3,
                            :state => @order.shipping_address_state,
                            :country => @order.shipping_address_country,
                            :zip => @order.shipping_address_zip %>

    <% service.addresses_match @order.address_match %>

    <% service.require_shipping @order.require_shipping %>

    <% service.notify_url url_for(:only_path => false, :action => 'paid', controller: :global_payments) %>
    <% service.return_url url_for(:only_path => false, :action => 'success', controller: :global_payments) %>
    <% service.cancel_return_url 'http://mystore.com' %>

    <%= submit_tag "Pay!", class: 'btn btn-primary', style: 'padding-bottom: 3px;' %>
  <% end %>

  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', orders_path %>
</div>
